<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID"
         version="2.5">
    <display-name>Archetype Created Web Application</display-name>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>index</servlet-name>
        <jsp-file>/WEB-INF/view/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>reg</servlet-name>
        <jsp-file>/WEB-INF/view/registration.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>reg</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>auth</servlet-name>
        <jsp-file>/WEB-INF/view/authentication.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>auth</servlet-name>
        <url-pattern>/authentication</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>worker</servlet-name>
        <jsp-file>/WEB-INF/view/worker.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>worker</servlet-name>
        <url-pattern>/worker</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>mySchedule</servlet-name>
        <jsp-file>/WEB-INF/view/worker/mySchedule.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>mySchedule</servlet-name>
        <url-pattern>/worker/mySchedule</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>hrd</servlet-name>
        <jsp-file>/WEB-INF/view/hrd.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>hrd</servlet-name>
        <url-pattern>/hrd</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>createWorker</servlet-name>
        <jsp-file>/WEB-INF/view/humanResourcesDepartment/createWorker.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>createWorker</servlet-name>
        <url-pattern>/hrd/createWorker</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteWorker</servlet-name>
        <jsp-file>/WEB-INF/view/humanResourcesDepartment/deleteWorker.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteWorker</servlet-name>
        <url-pattern>/hrd/deleteWorker</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <jsp-file>/WEB-INF/view/dispatcher.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/dispatcher</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>createRoute</servlet-name>
        <jsp-file>/WEB-INF/view/dispatcher/createRoute.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>createRoute</servlet-name>
        <url-pattern>/dispatcher/createRoute</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteRoute</servlet-name>
        <jsp-file>/WEB-INF/view/dispatcher/deleteRoute.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteRoute</servlet-name>
        <url-pattern>/dispatcher/deleteRoute</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>createSchedule</servlet-name>
        <jsp-file>/WEB-INF/view/dispatcher/createSchedule.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>createSchedule</servlet-name>
        <url-pattern>/dispatcher/createSchedule</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>accountant</servlet-name>
        <jsp-file>/WEB-INF/view/accountant.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>accountant</servlet-name>
        <url-pattern>/accountant</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addTime</servlet-name>
        <jsp-file>/WEB-INF/view/dispatcher/addTime.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>addTime</servlet-name>
        <url-pattern>/dispatcher/addTime</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>salary</servlet-name>
        <jsp-file>/WEB-INF/view/accountant/salary.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>salary</servlet-name>
        <url-pattern>/accountant/salary</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>see</servlet-name>
        <jsp-file>/WEB-INF/view/worker/see.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>see</servlet-name>
        <url-pattern>/worker/see</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>message</servlet-name>
        <jsp-file>/WEB-INF/view/message.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>message</servlet-name>
        <url-pattern>/message</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>error</servlet-name>
        <jsp-file>/WEB-INF/view/error.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>error</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>




    <filter>
        <filter-name>workerFilter</filter-name>
        <filter-class>org.example.project.filter.WorkerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>workerFilter</filter-name>
        <url-pattern>/worker/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>dispatcherFilter</filter-name>
        <filter-class>org.example.project.filter.DispatcherFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>dispatcherFilter</filter-name>
        <url-pattern>/dispatcher/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>hrdFilter</filter-name>
        <filter-class>org.example.project.filter.HumanResourcesDepartmentFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>hrdFilter</filter-name>
        <url-pattern>/hrd/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>accountantFilter</filter-name>
        <filter-class>org.example.project.filter.AccountantFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>accountantFilter</filter-name>
        <url-pattern>/accountant/*</url-pattern>
    </filter-mapping>
</web-app>
